:root {
  --color-green: #7EF5B1;
}

.page-container {
  display: inline-block;
  background-color:#282624;
  vertical-align: top;
  height: 100%;
  width: calc(100% - 260px);

  border-top-left-radius: 10px;
}

.rowFilms {
  width: 1000px;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-evenly;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.films {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridFilms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.1rem;
  width: 100%;
  padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 1500px) {
  .gridFilms {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1200px) {
  .gridFilms {
    grid-template-columns: repeat(3, 1fr);
  }
}

