:root {
  --color-green: #7EF5B1;
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.films {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gridFilms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr), repeat(4, 1fr));
  width: 100%;
  padding: 10px;
}

@media (max-width: 1200px) {
  .gridFilms {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 900px) {
  .gridFilms {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .gridFilms {
    grid-template-columns: 2fr;
  }
}

.pagination {
  display: flex;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.pageCounter {
  color: white;
}

.buttunPages {
  margin-left: 2rem;
  margin-right: 2rem;

  font-size: 1rem;
  color: white;
  background-color: rgb(67, 82, 82);
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

.buttunPages:hover {
  background-color: rgb(84, 102, 102);
}

.buttunPages:active {
  background-color: rgb(59, 71, 71);
}
