:root {
  --color-green: #7EF5B1;
}

.page {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.films {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.gridFilms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr), repeat(4, 1fr));
  width: 100%;
  padding: 10px;
}

@media (max-width: 1200px) {
  .gridFilms {
    grid-template-columns: repeat(3, 1fr); /* 3 фильма в строке для экранов шириной до 1200px */
  }
}

@media (max-width: 900px) {
  .gridFilms {
    grid-template-columns: repeat(3, 1fr); /* 2 фильма в строке для экранов шириной до 900px */
  }
}

@media (max-width: 600px) {
  .gridFilms {
    grid-template-columns: 2fr; /* 1 фильм в строке для экранов шириной до 600px */
  }
}
