.filmsInPlaylist {
  margin-top: 20px;
}

.films-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px; 
  padding: 20px;
}

.film-item {
  transition: transform 0.3s ease;
}

.film-item:hover {
  transform: translateY(-10px);
}

.favNot {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  padding-bottom: 10rem;
  font-size: 2rem;
}